<form #payrollForm="ngForm" (ngSubmit)="submitButton.emit(payrollForm.value)">
    <div class="info-row">
      <div>
        Years Of Experience
      </div>
      <div>
        <input #input ngModel type="number" name="years" min="0" placeholder="0">
      </div>
    </div>
    <div class="info-row">
      <div>
        Profession
      </div>
      <div>
        <select ngModel name="job">
          <option value="Dev">Developer</option>
          <option value="Tch">Teacher</option>
          <option value="Csh">Cashier</option>
        </select>
      </div>
    </div>
    <div class="info-row">
      <div>
        City
      </div>
      <div>
        <select ngModel name="city">
          <option value="Teh">Tehran</option>
          <option value="Shz">Shiraz</option>
        </select>
      </div>
    </div>
    <div class="info-row">
      <div>
        Year
      </div>
      <div>
        <select ngModel name="year">
          <option value="1400">1400</option>
          <option value="1401">1401</option>
        </select>
      </div>
    </div>
    <div>
      <button>CALCULATE</button>
    </div>
  </form>