  .main-division {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  }

  .salary-side {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin: 10px 20px;
  }

  .info-side {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex:1;
  }
  