<div class="main-division">
  <form class="info-side">
    <div class="info-row">
      <div>
        Years Of Experience
      </div>
      <div>
        <input #input type="number" (change)="change_years($event)" min="0">
      </div>
    </div>
    <div class="info-row">
      <div>
        Profession
      </div>
      <div>
        <select (change)="change_job($event)">
          <option value="Dev">Developer</option>
          <option value="Tcr">Teacher</option>
          <option value="Csh">Cashier</option>
        </select>
      </div>
    </div>
    <div class="info-row">
      <div>
        City
      </div>
      <div>
        <select (change)="change_city($event)">
          <option value="Teh">Tehran</option>
          <option value="Shz">Shiraz</option>
        </select>
      </div>
    </div>
    <div class="info-row">
      <div>
        Year
      </div>
      <div>
        <select (change)="change_year($event)">
          <option value="0">1400</option>
          <option value="1">1401</option>
        </select>
      </div>
    </div>
    <div>
      <button (click)="calculate_salary()">CALCULATE</button>
    </div>
  </form>
  <div class="salary-side">
    <div class="salary-row">
      <div class="sub">Basic Salary</div>
      <div class="income">{{this.base}} Rials</div>
    </div>
    <div class="salary-row">
      <div class="sub">Bonus Salary</div>
      <div class="income">{{this.bonus}} Rials</div>
    </div>
    <div class="salary-row">
      <div class="sub">Gross Salary</div>
      <div class="income">{{this.gross}} Rials</div>
    </div>
    <div class="salary-row">
      <div class="sub">Basic Tax</div>
      <div class="tax">{{this.tax}} Rials</div>
    </div>
    <div class="salary-row">
      <div class="sub">High Income Tax</div>
      <div class="tax">{{this.high_tax}} Rials</div>
    </div>
    <div class="salary-row">
      <div class="sub">Total Tax</div>
      <div class="tax">{{this.total_tax}} Rials</div>
    </div>
    <div class="salary-row">
      <div class="sub">Net Salary</div>
      <div class="net">{{this.net}} Rials</div>
    </div>
  </div>
</div>
